extends layouts/main
block head
	link(rel="stylesheet",href= "./styles/index.css")
block content
	h1 我去旅行
	img(src="./img/logo.jpg",style="width:150px;height:150px;border-radius:150px;")
	//
		p 你今天的命运如此：
		blockquote=fortune
